@model APIAbooking.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="MaxGuest" class="control-label"></label>
                <input asp-for="MaxGuest" class="form-control" />
                <span asp-validation-for="MaxGuest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrBathroom" class="control-label"></label>
                <input asp-for="NrBathroom" class="form-control" />
                <span asp-validation-for="NrBathroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longtitude" class="control-label"></label>
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoHouse" class="control-label"></label>
                <input asp-for="NoHouse" class="form-control" />
                <span asp-validation-for="NoHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhatSpaceCanUseGuests" class="control-label"></label>
                <input asp-for="WhatSpaceCanUseGuests" class="form-control" />
                <span asp-validation-for="WhatSpaceCanUseGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialItem" class="control-label"></label>
                <input asp-for="SpecialItem" class="form-control" />
                <span asp-validation-for="SpecialItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describe" class="control-label"></label>
                <input asp-for="Describe" class="form-control" />
                <span asp-validation-for="Describe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoticeGuest" class="control-label"></label>
                <input asp-for="NoticeGuest" class="form-control" />
                <span asp-validation-for="NoticeGuest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkout" class="control-label"></label>
                <input asp-for="Checkout" class="form-control" />
                <span asp-validation-for="Checkout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkin" class="control-label"></label>
                <input asp-for="Checkin" class="form-control" />
                <span asp-validation-for="Checkin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllPost" asp-controller="Room">Back to List</a>
</div>

