@model APIAbooking.Models.Room

        <form method="post" asp-action="Home" asp-controller="Clients">
            <div class="row" style="background-color:gray">

                <div  class="column"><input asp-for="Country" type="text" placeholder="Location" /></div>
                <div class="column"><input asp-for="Checkin" type="datetime" /></div>
                <div  class="column"><input asp-for="Checkout" type="datetime" /></div>
                <div  class="column"><input asp-for="MaxGuest" type="number" /></div>
                <div class="column"><input type="submit" value="Search" class="btn btn-primary" /></div>

            </div>
        </form>
