@model APIAbooking.Models.Client

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/LoginFrontEnd/LoginStyle.css" />
</head>
<body>
    
    <form class="form-control" asp-action="Login">
        <div class="position-relative">
            <h4 style="color:green">@ViewBag.Message</h4>
            <br />
            <h3>Login here</h3>

            <div>
                <br />
                <br />
                <label>Email</label><br />
                <input asp-for="Email" class="w3-input" type="text" placeholder="Username or Email"><br />
                <small style="color:red">@ViewBag.Message</small>
            </div>
            <div>
               
                <label>Password</label><br />
                <input asp-for="Password" type="password" class="w3-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" style="background-color:#d09a64" />
            </div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

        </div>

    </form>

</body>
</html>


