@model IEnumerable<APIAbooking.Models.Client>


<html?>
    <head>
        <title>
            
        </title>
        <link type="text/css" rel="stylesheet" href="~/css/indexstyle.css" />
    </head>

    <body>
        <br />
        <h3>My profile</h3>
        <br />
        <br />



        @foreach (var i in Model)
        {
            <b> <label>Profile picture:</label></b>

            @*<img src="~/css/user.png" alt="User profil" />*@
            <a asp-action="Edit" asp-controller="Clients" asp-route-id="@i.ClientId" style="color:green">Edit</a>
            <br />
            <br />

            <b> <label>Name:   </label></b>
            @i.Name
            
            <br />
            <br />

            <b> <label>Last Name:    </label></b>
            @i.Lastname
            <br />
            <br />

            <b> <label>Email:   </label></b>
            @i.Email
            <br />
            <br />

            @if (i.TypeOfUser == 1)
            {


                <p><b>My account:</b>User</p>

                <button type="submit" style="background-color:#fc6b03" class="button">Get Premium Account</button>
                <br />
                <br />
            }
            else if (i.TypeOfUser == 2)
            {
                <p><b>My account:</b>Premium</p>

            }
            else
            {
                <p>Wrong type of user</p>
            }
        }
    </body>
</html?>