@model IEnumerable<APIAbooking.Models.RoomOwner>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form asp-action="Dashboard" method="post">
        @foreach (var item in Model)
        {
            <h1>Welcome, <b>@item.Name </b></h1>
            <h4>Any post yet not posting, We are working for those...</h4>
            <a asp-action="Create" asp-controller="Room" asp-route-id="@item.OwnerId">Create a post</a>
            <a asp-action="GetAllPost" asp-controller="Room" asp-route-id="@item.OwnerId">See your post</a>
        }
    </form>

</body>
</html>


